{% load static %}
<section id="about">
  <div class="container" data-aos="fade-up">

      <header class="section-header">
          <h3>About Us</h3>
          <p>In Themisapp, you will find attorneys dealing with the legal system to keep our clients out of jail and clean their criminal records. There are lawyers for every potential legal issue. However, suppose you are being investigated for
              a crime or have been charged with one. In that case, your legal scenario is significantly different from any other person's because it entails a potential prison sentence and criminal record, which may be permanent parts of your
              life..
          </p>
      </header>

      <div class="row about-cols">

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="about-col">
                  <div class="img">
                      <img src="{%static ''%}assets/img/about-mission.jpg" alt="" class="img-fluid">
                      <div class="icon"><i class="bi bi-bar-chart"></i></div>
                  </div>
                  <h2 class="title"><a href="#">Our Mission</a></h2>
                  <p>
                      We are committed to providing our clients with high quality and excellence while at the same time protecting your rights as a criminal defendant and ensuring that you receive the best possible defense for your case.
                  </p>
              </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about-col">
                  <div class="img">
                      <img src="{%static ''%}assets/img/about-plan.jpg" alt="" class="img-fluid">
                      <div class="icon"><i class="bi bi-brightness-high"></i></div>
                  </div>
                  <h2 class="title"><a href="#">Our Plan</a></h2>
                  <p>
                      We are committed to providing our clients with high quality and excellence while at the same time protecting your rights as a criminal defendant and ensuring that you receive the best possible defense for your case.
                  </p>
              </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
              <div class="about-col">
                  <div class="img">
                      <img src="{%static ''%}assets/img/about-vision.jpg" alt="" class="img-fluid">
                      <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                  </div>
                  <h2 class="title"><a href="#">Our Vision</a></h2>
                  <p>
                      To provide our services automatically with full customer satisfaction. Here every steps we will Follow AI supports. To train our system to replicate the human .
                  </p>
              </div>
          </div>

      </div>

  </div>
</section>