<section id="featured-services">
  <div class="container">
      <div class="row">

          <div class="col-lg-4 box">
              <i class="bi bi-briefcase"></i>
              <h4 class="title"><a href="">AIPI communications</a></h4>
              <p class="description">Conversational AI is technology that allows humans to communicate via digital interfaces in ways that mirror human-human interaction</p>
          </div>

          <div class="col-lg-4 box box-bg">
              <i class="bi bi-card-checklist"></i>
              <h4 class="title"><a href="">Attorneys Locations</a></h4>
              <p class="description">Find the location of attorneys globally and take the necessity steps </p>
          </div>

          <div class="col-lg-4 box">
              <i class="bi bi-binoculars"></i>
              <h4 class="title"><a href="">Audio Video Trace and Computer Vision Support</a></h4>
              <p class="description">Tracing Audio video and images and also detect number plate and others</p>
          </div>

      </div>
  </div>
</section>