{% load static %}

<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url({%static ''%}assets/img/comanication.webp)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Artificial intelligent private investigator Communication</h2>
                            <p class="animate__animated animate__fadeInUp">Aim of our research is to explore the applicability of Artificial Intelligence (AI) along with computational logic tools .</p>
                            <a href="{%url 'dashboard' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url({%static ''%}assets/img/Video_tracking.webp)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Artificially Audio Video Tracking</h2>
                            <p class="animate__animated animate__fadeInUp">All this can be an extremely difficult challenge if not addressed properly causing clutter and confusion. And everyone knows that order is key to a successful practice. We can help you keep track of your hectic schedule
                                and organize your stacking responsibilities.</p>
                            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url({%static ''%}assets/img/first.webp)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Artificial intelligent private investigator </h2>
                            <p class="animate__animated animate__fadeInUp">Forgot an important document as you’re walking into court? Endless client paperwork & legal research are among the biggest legal practice challenges that require more advanced organization skills.</p>
                            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url({%static ''%}assets/img/Locatoin.webp)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Attorneys Locations</h2>
                            <p class="animate__animated animate__fadeInUp">Find all-locations Lawyers and Lawfirms . Comprehensive list of all-locations Lawyers . Contact us today for a free case review.</p>
                            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section>