<section id="services">
  <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>We provided different type services including .....</p>
      </header>

      <div class="row">

          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Artificial Intelligence Private Investigator</a></h4>
              <p class="description">Being investigated for a crime or have been charged with one. In that case, your legal scenario is significantly different from any other person's because it entails a potential prison sentence and criminal record, which may be
                  permanent parts of your life.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Family Law</a></h4>
              <p class="description">This area of Themis-app helps individuals with family-related legal matters such as divorce, child custody, and spousal support</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Estate Planning</a></h4>
              <p class="description">The Estate Planning Center has comprehensive information on the many components of estate planning, from the basics to some of the more complex elements such as community property concerns and prenuptial agreements</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Audio Video Trace</a></h4>
              <p class="description">AI video Analytics as an API. People Tracking, Counting, False Alarm Filtering, Contact Tracing. Transform your business with computer vision from Trace</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Unemployment</a></h4>
              <p class="description">The Themis-app unemployment benefits department provides legal assistance to individuals who have lost their jobs and seek unemployment benefits</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Computer Vision Support </a></h4>
              <p class="description">Computer Vision Services · Automate your monitoring and reporting applications to recognize, capture and generate insights from images and videos.</p>
          </div>

      </div>

  </div>
</section>