{% extends 'UserDashbord/index.html' %}

{% load static %}
{% block PageTitle %}
<div class="pagetitle">
    <h1>AIPI Dashbord</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'home'%}">AIPI</a></li>
        <li class="breadcrumb-item active">Img2Text</li>
      </ol>
    </nav>
  </div>
{% endblock PageTitle %}
{% block content %}

<!--Package Starting codes-->


<!--Package Ending codes-->

<div class="container">
    <div class="row">
        <div class="alarmingcondition" id="messageinfoid"></div>
        <div class="col-xs-6 col-sm-6 col-lg-6">
            <form action="" method="POST" enctype="multipart/form-data"  id="imgfileupload">
                {% csrf_token %}
                  <input id="weaponsimageid" name="files[]" class="file" type="file" multiple="multiple">
                
            </form>
        </div>

        <div class="col-xs-2 col-sm-2 col-lg-2">
            <input type="button" id="weaponsdetectbtn"  class="btn btn-primary" value="Weapons Detect">
        </div>

        <div class="col-xs-4 col-sm-5 col-lg-4">
            <div class="detectedimg" id="detectedImgID"></div>
            <img id="defaultImg" src="{%static 'weapons/0THZAYX5U0LO_jpg.rf.9fa413cc7f7bd3e1d496be9e1bb99bd0.jpg' %}" class="img-fluid" alt="...">
        </div>
    </div>
</div>



<script>


$(document).ready(function(){
    
 $("#weaponsdetectbtn").on('click', function(){
    var form_data = new FormData();
    var ins = document.getElementById('weaponsimageid').files.length;
    if(ins == 0) {
        $('#messageinfoid').html('<div class="alert alert-danger" role="alert">Select at least one file</div>');
        return;
    }
    for (var x = 0; x < ins; x++) {
        form_data.append("files[]", document.getElementById('weaponsimageid').files[x]);
    }        
    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
    form_data.append("csrfmiddlewaretoken", csrf_token);
        $.ajax({
            url: "{%url 'weaponsdetectionimg'%}",
            dataType:'json',
            cache: false,
            contentType: false,
            processData: false,
            data: form_data, 
            type: 'POST',
            success: function (response) { // display success response
                $('#messageinfoid').html(response.msg);
                
                if(response.detectedImgName.length > 0) {
                    $('#defaultImg').hide();
                    var mainhtml = "";
                if (response.detectedImgName.length == 1) {
                    imgurl = "/static/weaponsDetect/" + response.detectedImgName[0]
                    console.log(imgurl);
                    detectimg = '<img src="'+ imgurl +'"  class="img-fluid">';
                    mainhtml += detectimg;
                    }
                
                else{
                    internalRowExternal = ""
                    internalCombinedColExternal = ""
                    divrowStart = '<div class="row">'
                    for (var i=0; i<response.detectedImgName.length; i++) {
                        internalDivStart = ' <div class="col-md-6">'
                        imgurl = "/static/weaponsDetect/" + response.detectedImgName[i]
                        console.log(imgurl);
                        detectimg = '<img src="'+ imgurl +'"  class="img-fluid img-thumbnail">';
                        internalDivEnd ='</div>'
                        internalCombinedColExternal += internalDivStart + detectimg + internalDivEnd
                        }
                    divrowEnd = '</div>';
                    internalRowExternal += divrowStart + internalCombinedColExternal + divrowEnd
                    mainhtml += internalRowExternal;
                    }
                   
                $('#detectedImgID').append(mainhtml);
            }
          
            },
            error: function (response) {
                $('#messageinfoid').html(response.message); // display error response
            }
            });
        })
    })

    $("#file-0").fileinput({
        theme: 'fa5',
        uploadUrl: '#'
    }).on('filepreupload', function(event, data, previewId, index) {
        alert('The description entered is:\n\n' + ($('#description').val() || ' NULL'));
    });
    $("#file-1").fileinput({
        theme: 'fa5',
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        overwriteInitial: false,
        maxFileSize: 1000,
        maxFilesNum: 10,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
    /*
     $(".file").on('fileselect', function(event, n, l) {
     alert('File Selected. Name: ' + l + ', Num: ' + n);
     });
     */
    $("#file-3").fileinput({
        theme: 'fa5',
        browseClass: "btn btn-primary",
        overwriteInitial: false,
        initialPreviewAsData: true,
        //uploadUrl: 'http://localhost/plugins/test-upload',
        initialPreview: [
            "https://dummyimage.com/640x360/a0f.png&text=Transport+1",
            "https://dummyimage.com/640x360/3a8.png&text=Transport+2",
            "https://dummyimage.com/640x360/6ff.png&text=Transport+3"
        ],
        initialPreviewConfig: [
            {caption: "transport-1.jpg", size: 329892, width: "120px", url: "{$url}", key: 1, zoomData: 'https://dummyimage.com/1920x1080/a0f.png&text=Transport+1', description: '<h5>NUMBER 1</h5> The first choice for transport. This is the future.'},
            {caption: "transport-2.jpg", size: 872378, width: "120px", url: "{$url}", key: 2, zoomData: 'https://dummyimage.com/1920x1080/3a8.png&text=Transport+2', description: '<h5>NUMBER 2</h5> The second choice for transport. This is the future.'},
            {caption: "transport-3.jpg", size: 632762, width: "120px", url: "{$url}", key: 3, zoomData: 'https://dummyimage.com/1920x1080/6ff.png&text=Transport+3', description: '<h5>NUMBER 3</h5> The third choice for transport. This is the future.'}
        ]
    }).on('filebatchpreupload', function(e, data) {
        return {
            message: 'Error here',
            data: data
        }
    });
    $("#file-4").fileinput({
        theme: 'fa5',
        uploadExtraData: {kvId: '10'}
    });
    $(".btn-warning").on('click', function () {
        var $el = $("#file-4");
        if ($el.attr('disabled')) {
            $el.fileinput('enable');
        } else {
            $el.fileinput('disable');
        }
    });
    $(".btn-info").on('click', function () {
        $("#file-4").fileinput('refresh', {previewClass: 'bg-info'});
    });
    /*
     $('#file-4').on('fileselectnone', function() {
     alert('Huh! You selected no files.');
     });
     $('#file-4').on('filebrowse', function() {
     alert('File browse clicked for #file-4');
     });
     */
    $(document).ready(function () {
        $("#test-upload").fileinput({
            'theme': 'fa5',
            'showPreview': false,
            'allowedFileExtensions': ['jpg', 'png', 'gif'],
            'elErrorContainer': '#errorBlock'
        });
        $("#kv-explorer").fileinput({
            'theme': 'explorer-fa5',
            'uploadUrl': '#',
            overwriteInitial: false,
            initialPreviewAsData: true,
            initialPreview: [
                "https://dummyimage.com/1920x1080/1aa.png&text=Nature+1",
                "https://dummyimage.com/1920x1080/2ef.png&text=Nature+2",
                "https://dummyimage.com/1920x1080/3f0.png&text=Nature+3"
            ],
            initialPreviewConfig: [
                {caption: "nature-1.jpg", size: 329892, width: "120px", url: "{$url}", key: 1},
                {caption: "nature-2.jpg", size: 872378, width: "120px", url: "{$url}", key: 2},
                {caption: "nature-3.jpg", size: 632762, width: "120px", url: "{$url}", key: 3}
            ]
        });
        /*
         $("#test-upload").on('fileloaded', function(event, file, previewId, index) {
         alert('i = ' + index + ', id = ' + previewId + ', file = ' + file.name);
         });
         */
        $('#inp-add-1').on('change', function() {
            var $plugin = $('#inp-add-2').data('fileinput');
            $plugin.addToStack($(this)[0].files[0])
        });
        $('#inp-add-2').fileinput({
           uploadUrl: '#',
            //uploadUrl: 'http://localhost/plugins/test-upload',
            initialPreviewAsData: true,
            initialPreview: [
                "https://dummyimage.com/640x360/a0f.png&text=Transport+1",
                "https://dummyimage.com/640x360/3a8.png&text=Transport+2",
                "https://dummyimage.com/640x360/6ff.png&text=Transport+3"
            ],
            initialPreviewConfig: [
                {caption: "transport-1.jpg", size: 329892, width: "120px", url: "{$url}", key: 1, zoomData: 'https://dummyimage.com/1920x1080/a0f.png&text=Transport+1', description: '<h5>NUMBER 1</h5> The first choice for transport. This is the future.'},
                {caption: "transport-2.jpg", size: 872378, width: "120px", url: "{$url}", key: 2, zoomData: 'https://dummyimage.com/1920x1080/3a8.png&text=Transport+2', description: '<h5>NUMBER 2</h5> The second choice for transport. This is the future.'},
                {caption: "transport-3.jpg", size: 632762, width: "120px", url: "{$url}", key: 3, zoomData: 'https://dummyimage.com/1920x1080/6ff.png&text=Transport+3', description: '<h5>NUMBER 3</h5> The third choice for transport. This is the future.'}
            ]
        });
    });
</script>
 {% endblock content %}