{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ThemisApp 2.0 AIPI Dashbord </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static ''%}appimgs/logos.jpg" rel="icon">
  <link href="{%static ''%}userdashbord/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static ''%}userdashbord/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{%static ''%}userdashbord/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{%static ''%}userdashbord/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="{%static ''%}userdashbord/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="{%static ''%}userdashbord/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="{%static ''%}userdashbord/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="{%static ''%}userdashbord/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static ''%}userdashbord/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

<!--Weapons Detections Start-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css" crossorigin="anonymous">
<link href="{%static ''%}img2text/assets/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
<link href="{%static ''%}img2text/assets/themes/explorer-fa5/theme.css" media="all" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="{%static ''%}img2text/assets/js/plugins/buffer.min.js" type="text/javascript"></script>
<script src="{%static ''%}img2text/assets/js/plugins/filetype.min.js" type="text/javascript"></script>
<script src="{%static ''%}img2text/assets/js/plugins/piexif.js" type="text/javascript"></script>
<script src="{%static ''%}img2text/assets/js/plugins/sortable.js" type="text/javascript"></script>
<script src="{%static ''%}img2text/assets/js/fileinput.js" type="text/javascript"></script>
<script src="{%static ''%}img2text/assets/js/locales/fr.js" type="text/javascript"></script>
<script src="{%static ''%}img2text/assets/js/locales/es.js" type="text/javascript"></script>
<script src="{%static ''%}img2text/assets/themes/fa5/theme.js" type="text/javascript"></script>
<script src="{%static ''%}img2text/assets/themes/explorer-fa5/theme.js" type="text/javascript"></script>
<!--Weapons Detection End-->

</head>

<body>

  <!-- ======= Header ======= -->
  {% include 'UserDashbord/HeaderSection.html' %}
<!-- End Header -->

  <!-- ======= Sidebar ======= -->
  {% include 'UserDashbord/SideBarSection.html' %}
  <!-- End Sidebar-->

  <main id="main" class="main">


<!-- Start Page Title -->
{% block PageTitle %}
{% endblock PageTitle %}
<!-- End Page Title -->

<!-- Start MiddleSection Title -->
{% block content %}
{% endblock content %}
<!-- End MiddleSection Title -->
   
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
<!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static ''%}userdashbord/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="{%static ''%}userdashbord/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{%static ''%}userdashbord/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="{%static ''%}userdashbord/assets/vendor/echarts/echarts.min.js"></script>
  <script src="{%static ''%}userdashbord/assets/vendor/quill/quill.min.js"></script>
  <script src="{%static ''%}userdashbord/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="{%static ''%}userdashbord/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="{%static ''%}userdashbord/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="{%static ''%}userdashbord/assets/js/main.js"></script>

</body>

</html>